{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Для чтения комментариев к срокам поставки продукции SMC</p>
    <form method="post">
        <h5>Комментарий</h5>
        <div class="input-group mb-3">
            <input type="text" class='form-control' placeholder='Введите комментарий' name="comment">
            <button type="submit" class='btn btn-outline-primary'>Считать</button>
        </div>
    </form>
    <div class="card mb-3">
                <div class="card-header">
                    <h5 style="float: left;">История запросов</h5>
                    <a href="/clear_comments" class="btn btn-outline-danger" style="float: right;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-bucket-fill" viewBox="0 0 16 16">
                            <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5
                             0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5
                             0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0
                             0 1 8.945 0H3.527z"/>
                        </svg>
                    </a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for i in lst %}
                    <li class="list-group-item">
                        <strong>{{ i.created_date.strftime("%d.%m.%Y %H:%M") }}</strong> {{ i.comment }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}